* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


html {
    scroll-behavior: smooth;
    /* font-size: 16px;*/

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    color:var(--text-color);
    background: linear-gradient(135deg,rgb(48, 197, 235),rgb(184, 218, 224),rgb(37, 34, 223));
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}


:root{
    /*สีหลักของเว็บ*/
    --primary-color :rgb(30, 94, 233) ;
    --primary-dark-color : rgb(16, 19, 233) ;
    --secondary-color:rgb(115, 33, 223);
    
    /* สีข้อความ*/
    --text-color : black ;
    --mute-text-color : rgb(88, 82, 82) ;
    --nav-text-color :rgb(54, 49, 49) ;
    --light-text-color: rgb(223, 195, 195);


    /*สีพื้น*/
    --btn-bg-color: rgb(136, 50, 207);
    --footer-bg-color:black;


    /*สีเงา*/
    --header-shadow: 0 4px 8px rgb(194, 189, 189);
    --card-shadow: 0 3px 8px rgb(194, 189, 189);

    /*สีขอบ*/
    --border-color: rgb(180, 174, 174);
}




/*=============================

----------Header

================================*/
.header{
    box-shadow: var(--header-shadow);
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: rgba(0, 255, 255, 0.418);
    backdrop-filter: blur(10px);
}

.header-content{
    padding-block: 1.5rem;
    text-align: center;
}


.header-title{
    color: var(--primary-color);

    font-size: clamp(2rem,5vw,3rem);

    line-height: 1.2;
    margin-bottom: 0.25rem;
}


.header-subtitle{
    color: var(--mute-text-color);
}





/*=============================

----------Nav

================================*/
nav{
    padding-block: 2rem;
    text-align: center;
}


nav a{
    text-decoration: none;
    color: var(--nav-text-color);

    padding: 0.65rem 1.2rem;
    box-shadow: var(--card-shadow);
    border-radius: 999px;

    margin-right:0.3rem ;

    transition: transform 0.5s;
    display: inline-block;
}


nav a:hover {
    transform: translateY(-10px);
}



nav a.active{
    background-color: var(--btn-bg-color);
    color: var(--light-text-color);
}




/*=============================

----------Main

================================*/

.page-title{
    text-align: center;
    margin-bottom: 1.5rem;

}


.pet-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}


.pet-card{
    border: var(--border-color);
    box-shadow: var(--card-shadow);
    border-radius: 0.75rem;

    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.5s;
}
.pet-card:hover{
    transform: translateY(-10px);
}



.pet-card img {
    height: 16.25rem;
    width: 100%;
    object-fit: cover;

}


.pet-content{
    padding: 1.25rem;
}

.pet-content h2{
    color: var(--primary-color);
}




.breed{
    color: var(--mute-text-color);
}





/*=============================

----------Footer

================================*/
footer{
    background-color: var(--footer-bg-color);
    color: var(--light-text-color);

    text-align: center;

    padding-block: 2rem; 
    margin-top: 2rem;
}





/*=============================

----------Responsive

================================*/