* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Krub";
  background-color: rgb(179, 228, 88);

  color: rgb(24, 20, 20);

  line-height: 1.6;
}

.container {
  /*border: 1px solid rgb(46, 43, 214);
  padding: 15px;
  margin: 15px;*/
}

/*=================================================================  
        Header Section
==================================================================*/

.site-header {
  /*border: 1px solid rebeccapurple;
  padding: 15px;
  margin: 15px;*/

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(110deg, rgb(35, 231, 150), rgb(27, 224, 103));

  padding: 8px 20px;
}

.brand {
  /*border: 1px solid rgb(58, 207, 162);
  padding: 15px;
  margin: 15px;*/

  display: flex;
  align-items: center;
  gap: 20px;

  color: white;
}

.brand-logo {
  background-color: rgb(79, 77, 218);

  border-radius: 50%;

  font-size: 30px;

  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text h2 {
  font-size: 24px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.8;
}

/* navbar*/

.main-nav {
  /* border: 1px solid rgb(58, 207, 162);
  padding: 15px;
  margin: 15px; */
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.8s;
}
.nav-list a:hover {
  background-color: rgba(252, 252, 252, 0.26);
}

/*=================================================================  
        main Section
==================================================================*/
.main-layout {
  /*border: 1px solid rebeccapurple;
  padding: 15px;
  margin: 15px;*/

  display: grid;
  /* grid-template-columns: 80% 20% ;*/
  grid-template-columns: 1fr 390px;
  padding: 20px 22px;
}

/* leftcontent*/
.left-content {
  /*border: 1px solid rgb(26, 156, 231);
  padding: 15px;
  margin: 15px;*/
}

.hero {
  /* border: 1px solid rgb(58, 207, 162);
  padding: 15px;
  margin: 15px;*/
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  padding: 26px 36px;
  background: linear-gradient(90deg, rgb(215, 226, 250), rgb(61, 61, 197));
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(219, 191, 191);

  align-items: center;
}
.hero-text h1 {
  font-size: 36px;
  color: rgb(54, 124, 228);
  line-height: 1.8;
}
.hero-text p {
  font-size: 21px;
  color: rgb(54, 124, 228);
  font-weight: 600;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgb(40, 147, 247);

  box-shadow: 0 4px 8px black;
  object-fit: cover;
  border-radius: 10px;
}
/*=====Link Example ====*/
.card {
  background-color: white;
  border-radius: 15px;
  padding: 26px 36px;
  margin: 0px 10px 20px 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(219, 191, 191);

  margin-top: 20px;
}
.card-header-title {
}
.card-header-title h2 {
  color: rgb(54, 44, 197);
  margin-bottom: 12px;
}

.card-body-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 20px;
}
/*  ---------  กล่่อง link  ด้านซ้าย -----------  */
.result-panel,
.code-panel {
  border: 1px solid rgb(208, 212, 216);
  border-radius: 10px;

  overflow: hidden;
}

.result-panel-header,
.code-panel-header {
  background-color: aliceblue;
  color: rgb(54, 124, 228);
  font-weight: bold;

  padding: 0px 20px;
}

.result-panel-body {
  line-height: 2;
  padding: 5px 20px 20px 10px;
}
.result-panel-body a {
  display: block;
  color: rgb(23, 92, 182);
}
.span-logo {
  background-color: blue;
  padding: 2px;
  margin-right: 10px;
  border-radius: 5px;
}

.back-btn {
  border: 2px solid rgb(23, 92, 182);
  border-radius: 10px;

  display: inline-block !important;
  padding: 0 20px;

  text-decoration: none;
}

/*  ---------  กล่่อง link  ด้านขวา -----------  */
.code-panel {
  background-color: black;
}

.code-panel-body {
  color: white;

  .code-list {
    padding: 12px 12px 12px 36px;
    margin: 0;
  }
  .code-list li {
    padding: 2px 0;
    white-space: nowrap;
    line-height: 1.4;
  }
}
.tag {
  color: #d61b1b;
}
.attr {
  color: rgb(187, 187, 28);
}

.value {
  color: rgb(14, 180, 14);
}
.result-panel,
.code-panel {
  border: 1px solid rgb(208, 212, 216);
  border-radius: 10px;

  overflow: hidden;
}

.result-panel-body-3g {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: baseline;
  text-align: center;
  font-size: 14px;
  padding: 0 20px;
}

/* right sidebar*/
.right-sidebar {
  background-color: white;
  border-radius: 15px;
  padding: 26px 36px;
  margin: 0px 10px 20px 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(219, 191, 191);

  margin-top: 20px;
}
.side-card {
}

.submit-card {
}

.learning-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.learning-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 0.85rem;
  color: #334155;
  line-height: 1.45;
}

.step-number {
  background-color: #2563eb;
  color: #ffffff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 1px;
  padding: 15px;
}

.step-number-g {
  background-color: red;
}
.g1 {
  background-color: rgb(70, 216, 204);
}
.g2 {
  background-color: rgb(25, 221, 18);
}
.g3 {
  background-color: rgb(168, 153, 17);
}
.g4 {
  background-color: rgb(116, 23, 153);
}
.g5 {
  background-color: rgb(27, 168, 179);
}
/* ==========================================
   2. การ์ด: แท็กที่ใช้บ่อย
   ========================================== */
.tag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.tagg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  border-radius: 14px;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
}

/* พาเลตสีตามภาพ */
.tag-blue {
  background-color: #f1e259;
  color: #3730a3;
}
.tag-cyan {
  background-color: #cffafe;
  color: #155e75;
}
.tag-green {
  background-color: #dcfce7;
  color: #166534;
}
.tag-orange {
  background-color: #ffedd5;
  color: #9a3412;
}
.tag-purple {
  background-color: #f3e8ff;
  color: #6b21a8;
}
.tag-pink {
  background-color: #fce7f3;
  color: #9d174d;
}
.tag-teal {
  background-color: #ccfbf1;
  color: #115e59;
}
.tag-yellow {
  background-color: #fef9c3;
  color: #854d0e;
}
.submit-card {
  background-color: rgb(226, 195, 138);
  border: wheat;
  display: flex;
  align-items: center;
  gap: 20px;
}
.submit-logo {
  font-size: 30px;
}
/*=================================================================  
        Footer Section
==================================================================*/
.tip-box {
  /*border: 1px solid rebeccapurple;
  padding: 15px;
  margin: 15px;*/
  background-color: rgb(226, 195, 138);
  border: 1px solid rgb(236, 208, 155);
  padding: 18px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(219, 191, 191);
  display: grid;
  grid-template-columns: 90px 1fr 170px;
  margin: 20px;
}
.tip-icon {
  background-color: blue;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.tip-content h2 {
  color: #0b3d91;
  font-size: 24px;
  margin-bottom: 4px;
}

.tip-content p {
  font-size: 15px;
  color: #1f2937;
}

.tip-content span {
  color: #e11d48;
  font-family: Consolas, monospace;
  font-weight: bold;
}
.tip-photo {
  font-size: 45px;
  text-align: center;
}
/*=================================================
            Responsive
===================================================*/
@media (max-width:1200px) {
.container{
  background-color:red;
  .main-layout{
    display: grid;
    grid-template-columns: 1fr;
 
    }
  .sidebar-container{
      grid-template-columns: 1fr 1fr;
      gap:12px;
    }

}
}
@media (max-width:992px) {
.container{
  background-color:rgb(31, 9, 224);
}
}
@media (max-width:768px) {
 .container{
  background-color:rgb(214, 17, 66);
}
.sidebar-container{
      grid-template-columns: 1fr;
    }
  .card-body-grid{
  grid-template-columns:  1fr;
}
.tip-photo {
  display: none;
}
.tip-box{
  grid-template-columns: 90px 1fr;
}
.hero{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hero-photo img {
  width: 100%;
  height: auto;
  
}
.result-panel-body-3g{
  grid-template-columns: 1fr;
}
}