* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Krub";
  background-color: rgb(179, 228, 88);

  color: rgb(24, 20, 20);

  line-height: 1.6;
}

.container {
  /*border: 1px solid rgb(46, 43, 214);
  padding: 15px;
  margin: 15px;*/
}

/*=================================================================  
        Header Section
==================================================================*/

.site-header {
  /*border: 1px solid rebeccapurple;
  padding: 15px;
  margin: 15px;*/

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(110deg, rgb(35, 231, 150), rgb(27, 224, 103));

  padding: 8px 20px;
}

.brand {
  /*border: 1px solid rgb(58, 207, 162);
  padding: 15px;
  margin: 15px;*/

  display: flex;
  align-items: center;
  gap: 20px;

  color: white;
}

.brand-logo {
  background-color: rgb(79, 77, 218);

  border-radius: 50%;

  font-size: 30px;

  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text h2 {
  font-size: 24px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.8;
}

/* navbar*/

.main-nav {
  /* border: 1px solid rgb(58, 207, 162);
  padding: 15px;
  margin: 15px; */
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.8s;
}
.nav-list a:hover {
  background-color: rgba(252, 252, 252, 0.26);
}

/*=================================================================  
        main Section
==================================================================*/
.main-layout {
  /*border: 1px solid rebeccapurple;
  padding: 15px;
  margin: 15px;*/

  display: grid;
  /* grid-template-columns: 80% 20% ;*/
  grid-template-columns: 1fr 390px;
  padding: 20px 22px;
}

/* leftcontent*/
.left-content {
  /*border: 1px solid rgb(26, 156, 231);
  padding: 15px;
  margin: 15px;*/
}

.hero {
  /* border: 1px solid rgb(58, 207, 162);
  padding: 15px;
  margin: 15px;*/
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  padding: 26px 36px;
  background: linear-gradient(90deg, rgb(215, 226, 250), rgb(61, 61, 197));
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(219, 191, 191);

  align-items: center;
}
.hero-text h1 {
  font-size: 36px;
  color: rgb(54, 124, 228);
  line-height: 1.8;
}
.hero-text p {
  font-size: 21px;
  color: rgb(54, 124, 228);
  font-weight: 600;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgb(40, 147, 247);

  box-shadow: 0 4px 8px black;
  object-fit: cover;
  border-radius: 10px;

  /*
    object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
    object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
    object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
    */
}
/*=====Link Example ====*/
.card {
  background-color: white;
  border-radius: 15px;
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(219, 191, 191);
  
  margin-top: 20px;
}
.card-header-title {

}
.card-header-title h2 {
color: rgb(54, 44, 197);
}

.card-body-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 20px;
}
/*  ---------  กล่่อง link  ด้านซ้าย -----------  */
.result-panel,.code-panel {
  border:1px solid rgb(208, 212, 216);
  border-radius: 10px;
  
  

  overflow: hidden;
}

.result-panel-header,.code-panel-header{
background-color: aliceblue;
color: rgb(54, 124, 228);
font-weight: bold;

padding: 0px 20px;

}


.result-panel-body {

  line-height: 2;
  padding: 5px 20px 20px 10px;
}
.result-panel-body a {
  display: block;
  color: rgb(23, 92, 182);

}
.span-logo{
  background-color: blue;
  padding: 2px;
  margin-right: 10px;
  border-radius: 5px;
}


.back-btn {
  border: 2px solid rgb(23, 92, 182);
  border-radius: 10px;

  display: inline-block !important;
  padding: 0 20px;
  
  text-decoration: none;
}


/*  ---------  กล่่อง link  ด้านขวา -----------  */
.code-panel {
  background-color: black;
}


.code-panel-body{
color: white;

.code-list{
  padding: 16px 40px;
  
}
.code-list li{
  padding: 0 20px;
}

}
.tag{
  color: #d61b1b;
}
.attr{
  color: rgb(187, 187, 28);
}

.value{
  color: rgb(14, 180, 14);
}
.result-panel,.code-panel {
  border:1px solid rgb(208, 212, 216);
  border-radius: 10px;
  
  

  overflow: hidden;
}

.result-panel-body-3g{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
align-items: baseline;
text-align:center;
font-size: 14px;
padding: 0 20px;
}



/* right sidebar*/
.right-sidebar {
  border: 1px solid rgb(54, 124, 228);
  padding: 15px;
  margin: 15px;
}
.side-card {
}

.submit-card {
}

/*=================================================================  
        Footer Section
==================================================================*/
.tip-box {
  border: 1px solid rebeccapurple;
  padding: 15px;
  margin: 15px;
}

        